<p id="notice"><%= notice %></p>

<h1>Entries</h1>

<%= link_to 'Refresh', refresh_entries_path %>

<table>
  <thead>
  <tr>
    <th>Feed Name</th>
    <th>URL</th>
    <th>Summary</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.feed.name %></td>
        <td><%= entry.url %></td>
        <td><%= entry.summary %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Feed', new_feed_path %>